<div class="section">
  <div class="container">
    <div class="section-title">
      <h4> Login as a User</h4>
    </div>

    <div style="overflow-x:auto;">
      <form  (submit)="loginUser($event)">
        <div class="input">
          <label>Email</label>
          <input type="email">
        </div>

        <div class="input">
          <label>Password</label>
          <input type="password">
        </div>

        <div class="input">
          <input type="submit" value="Login">
        </div>
      </form>
    </div>
  </div>
</div>


