<div>
  <form>
    Maquina:<br>
    <select name="Maquina">
      <option value="1">Maquina 1</option>
      <option value="2">Maquina 2</option>
      <option value="3">Maquina 3</option>
      <option value="4">Maquina 4</option>
    </select>
    <br>
    Funcion:<br>
    <select name="Funcion">
      <option value="1"> Funcion 1</option>
      <option value="2"> Funcion 2</option>
      <option value="3"> Funcion 3</option>
      <option value="4"> Funcion 4</option>
      <option value="5"> Funcion 5</option>
    </select>
    <br>
    Valor:<br>
    <input type="number" value="0">
    <br>
    <input type="submit" value="Enviar">

  </form>
</div>