<h1 style="color: #4485b8; text-align: center;">Ingrese su Comando</h1>
<p>Instrucciones:</p>
<ul>
<li>Selecciona el Dispositivo</li>
<li>Selecciona la Funci&oacute;n</li>
<li>Ingresa el Valor</li>
<li>Ingresa el Tipo</li>
<li>Env&iacute;ala.</li>
</ul>

	

<form (submit)="registercomando($event)" name="command" style=" text-align: center;">
    Dispositivo:<br>
    <select name="Maquina">
      <option value="1">Maquina 1</option>
      <option value="2">Maquina 2</option>
      <option value="3">Maquina 3</option>
      <option value="4">Maquina 4</option>
    </select>
    <br>
    Funcion:<br>
    <select name="Funcion">
      <option value="1"> Funcion 1</option>
      <option value="2"> Funcion 2</option>
      <option value="3"> Funcion 3</option>
      <option value="4"> Funcion 4</option>
      <option value="5"> Funcion 5</option>
    </select>
    <br>
    Unidad:<br>
    <select name="Unidad">
        <option value="1">Unidad 1 </option>
        <option value="2">Unidad 2</option>
        <option value="3">Unidad 3</option>
    </select>
    <br>
    Valor <br>
    <input disabled type="text" name="ans" id="com" value="">
    <br>
    <input type="button" value="1" onClick="document.command.ans.value+='1'">
    <input type="button" value="2" onClick="document.command.ans.value+='2'">
    <input type="button" value="3" onClick="document.command.ans.value+='3'">
    <br>
    <input type="button" value="4" onClick="document.command.ans.value+='4'">
    <input type="button" value="5" onClick="document.command.ans.value+='5'">
    <input type="button" value="6" onClick="document.command.ans.value+='6'">
    <br>
    <input type="button" value="7" onClick="document.command.ans.value+='7'">
    <input type="button" value="8" onClick="document.command.ans.value+='8'">
    <input type="button" value="9" onClick="document.command.ans.value+='9'">
    <br>
    <input type="button" value="0" onClick="document.command.ans.value+='0'">
    <input type="button" value="." onClick="document.command.ans.value+='.'">
    <input type="button" value="Erase" onClick="document.command.ans.value=document.command.ans.value.slice(0, -1)"><br>
    
    <br>
    <input type="submit" value="Enviar">
    </form>
