<form  (submit)="registerUser($event)">
  <div class="input">
    <label>Username</label>
    <input type="text" required >
  </div>
  <div class="input">
    <label>Email</label>
    <input type="email" value="">
  </div>
  <div class="input">
    <label>Password</label>
    <input type="password" value="" >
  </div>
  <div class="input">
    <label>Confirm Password</label>
    <input type="password" value="" >
  </div>
  <div class="input">
    <label>Serial</label>
    <input type="number" value="0">
  </div>
  <div class="input">
    <input type="submit" value="Registrar">
  </div>
</form>
