<ng-container *ngIf="isMod">
  <div class="section">
    <div class="container">
      <form (submit)="addUser($event)">
        <h4>Select a user to add to your equipment:</h4>
        <label>
          <select name="user">
            <option *ngFor="let user of users" value={{user.email}}> {{ user.email }} </option>
          </select>
        </label>
        <div class="input">
          <input type="submit" value="Add">
        </div>
      </form>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <h4>List of users in {{equipment.name}}:</h4>
      <table class="table table-hover table-bordered">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Is Moderator</th>
        </tr>
        <tr *ngFor ="let user of equipmentList">
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.moderator}}</td>
        </tr>
      </table>
    </div>
  </div>
</ng-container>

  <ng-container *ngIf="!isMod">
    <div class="section">
      <div class="container">
    <h4>List of users in {{equipment.name}}:</h4>
    <table class="table table-hover table-bordered">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Is Moderator</th>
      </tr>
      <tr *ngFor ="let user of equipmentList">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.moderator}}</td>
      </tr>
    </table>
      </div>
    </div>
  </ng-container>
